{% extends "main.html" %}

{% block searchResults %}
  {% if found_entries %}
  {% for found_entries in found_entries %}

  <blockquote>
    <p> {{found_entries.dream}} </p> <br>

    <p><small>Feelings: {{found_entries.mood}} </small></p>
    <p><small>tags: {{found_entries.tags}}</small></p>
    <p><small>{{found_entries.user}}</small></p>
    <p><small>{{found_entries.datetime}}</small></p>
  </blockquote>

  {% endfor %}
  {% else %}

  <blockquote>
    <p> No results found </p>
    <p><small>Why not search for something else?</small></p>
  </blockquote>

  {% endif %}
{% endblock %}
