{% extends "main.html" %}


{% block upload %}
<form action="" method="POST" name="upload">
{% csrf_token %}
<div style="width: 500px; margin-left:auto; margin-right:auto;">

  <div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-diamond"></i></span>
  {{form.title}}
</div>

<br>

  <div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-line-chart"></i></span>
  {{form.distance}}
</div>

<br>

  <div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-hourglass-half"></i></span>
  {{form.duration}}
</div>

<br>

  <div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
  {{form.time}}
</div>

<br>

  <div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
  {{form.location}}
</div>

<br>

  <div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-cloud"></i></span>
  {{form.description}}
</div>

</div>

<br>

<div style="text-align:center;">
   <input id="submitButton" type="submit" class="btn btn-default" value="Log it" disabled="true">
</div>

</form>

<script>
function checkBoxes(){
  if (document.getElementById('textArea').value != "" && document.getElementById('mood').value != "" && document.getElementById('tags').value != "" ){
    document.getElementById('submitButton').disabled = false
  } else {
    document.getElementById('submitButton').disabled = true
  }
}
</script>
{% endblock %}
