{% load staticfiles %}

<html>

<head>
  <script type="text/javascript" src="{% static 'jQuery/jquery-1.11.3.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<style>
#background{
  position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url("{% static 'media/fog-bg.jpg' %}");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
opacity: 0.3;
filter:alpha(opacity=80);
}

.jumbotron { min-height: 160px; }
</style>

<link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/favicon.ico'%}">


<title>
  DreamrLog
</title>
</head>

<div id="background">
</div>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a style="font-family: "Times New Roman", Times, serif;" class="navbar-brand" href="/">Main Page</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

         <!--UPLOAD-->
         <li><a href="/upload"><span style="font-size:1.3em;"class="glyphicon glyphicon-upload"></span></a>
         </li>

         <!--HOT-->
         <li><a href="#"><span style="font-size:1.3em;"class="glyphicon glyphicon-fire"></span></a></li>

         <!--SEARCH-->
       </ul>
       <form class="navbar-form navbar-left" action="/search" method="GET">
         {% csrf_token %}
        <div class="form-group">
          <input type="text" name="search" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>


    </ul>

    <!--LOGIN-->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">

        {% if loginStatus == "notLogged" %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
        {% elif loginStatus == "success"%}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
        {% elif loginStatus == "inactive" %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> (Account not activated)</b></a>

        {% endif %}

        <ul id="login-dp" class="dropdown-menu">
          <li>
           <div class="row">
            <div class="col-md-12">


        {% if loginStatus == "notLogged" %}
              <form class="form" method="POST" action="/login" accept-charset="UTF-8">
                {% csrf_token %}
                <div class="form-group">
                 {{loginForm.username}}
               </div>
               <div class="form-group">
                 <label class="sr-only" for="exampleInputPassword2">Password</label>
                 {{loginForm.password}}
                 <div class="help-block text-right"><a href="">Forgot your password ?</a></div>
               </div>
               <div class="form-group">
                 <button type="submit" name="login" class="btn btn-default btn-block">Sign in</button>
               </div>
             </form>
           </div>
           <div class="bottom text-center">
            <a href="/register"><b>Register</b></a>
          </div>
        </div>

        {% elif loginStatus == "success" or loginStatus == "inactive" %}
        <div class="bottom text-center">
        <a href="/myPosts"><b>View my posts</b></a><br>
      </div>
        <div class="bottom text-center">
         <a href="/logout"><b>Logout</b></a>
       </div>

        {% endif %}

      </li>
    </ul>



  </li>
</ul>


</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>



<div  style="text-align: center;position: relative;
top: 20px; width:80%; margin:auto;word-wrap:break-word;">
<!--MAIN POST AREA-->

<div class="row">
{% if not viewUserPosts %}
{% for posts in posts %}

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{posts.title}}</h3>

<div style=""class="jumbotron">
  {{posts.dream|truncatechars:50}}
</div>

        <p> <small>Mood: {{posts.mood}} </small></p>
      </p>  <small>Tags: #{{posts.tags}} </small></p>
        <p>  <button type="button" class="btn btn-info btn-small" data-toggle="modal" data-target="#myModal">Read More</button>
</p>
      </div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
  <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{posts.title}}</h4>
          </div>
          <div class="modal-body">
            <p>{{posts.dream}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
</div>

{% endif %}

{% block userPosts %}
{% endblock %}

{% block upload %}
{% endblock %}

{% block register %}
{% endblock %}

{% block success %}
{% endblock %}

{% block confirm %}
{% endblock %}

{% block confirm_expired %}
{% endblock %}

{% block alreadyConfirm %}
{% endblock %}

{% block loginFirst %}
{% endblock %}

{% block logout %}
{% endblock %}

{% block confirmFirst %}
{% endblock %}


{% block searchResults %}
{% endblock %}
</div>
</body>

</html>
