{% extends "main.html" %}


{% block userPosts %}
{% if userPosts %}
{% for userPosts in userPosts %}

<blockquote>
  <p> {{userPosts.dream}} </p> <br>

  <p><small>Feelings: {{userPosts.mood}}</small></p>
  <p><small>tags: {{userPosts.tags}}</small></p>
  <p><small>{{userPosts.user}}</small></p>
</blockquote>

{% endfor %}
{% else %}

<blockquote>
  <p> You've not posted anything yet </p>
  <p><small>Why don't you upload something <a href="/upload"><b>here</b></a>?</small></p>
</blockquote>

{% endif %}
{% endblock %}
